<!--about section-->
<section class="about show-animate" id="about">
    <h2 class="heading">About <span>Me</span><span class="animate scroll" style="--i:1;"></span></h2>
    <div class="about-img">
        <img src="images/mit.jpg" alt="MIT PATEL profile picture">
        <span class="circle-spin"></span>
        <span class="animate scroll" style="--i:2;"></span>
    </div>

    <div class="about-content">
        <h3>Junior Developer<span class="animate scroll" style="--i:3;"></span></h3>
        <p>Hello, I'm mit-patel. I'm a problem solver and I enjoy building better web experiences.

            currently pursuing my Bachelor's degree in Information Technology at SETI. My educational background has
            equipped me
            with a strong foundation in various programming languages and technologies such as C++, C, Java, Database
            management-(DBMS) , PHP, JavaScript, CSS ,HTML and more.
            <span class="animate scroll" style="--i:4;"></span>
        </p>

       
    </div>
</section>
