<!--home section-->
<section class="home show-animate" id="home">
    <div class="home-content">
        <h1>Hi, I'm<span> MIT PATEL</span><span class="animate" style="--i:2;"></span></h1>
        <div class="text-animate">
            <h3>Software Engineer</h3>
            <span class="animate" style="--i:3;"></span>
        </div>
        <p>Hello, I'm mit-patel. I'm a problem solver and I enjoy building better web experiences.
            <span class="animate" style="--i:4;"></span>
        </p>

        <div class="btn-box">
            <a href="about" class="btn">About Me</a>
            <span class="animate" style="--i:5;"></span>
        </div>

    </div>

    <div class="home-imgHover"></div>
    <span class="animate home-img" style="--i:7;"></span>
</section>
