    <!--Portfolio-->
    <section class="portfolio show-animate" id="portfolio">
        <h2 class="heading">Latest <span>Project</span><span class="animate scroll" style="--i:1;"></span></h2>
    
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="images/br.png" alt="">
                <div class="portfolio-layer">
                    <h4>Bank Management Project</h4>
                    <p>The Bank Management Project involves creating a system or application to manage the various operations of a bank. This project focuses on improving efficiency, accuracy, and customer service by digitizing and streamlining banking processes.</p>
                </div>
                <span class="animate scroll" style="--i:2;"></span>
            </div>
    
            <div class="portfolio-box">
                <img src="images/we.png" alt="">
                <div class="portfolio-layer">
                    <h4>Portfolio Demo Project</h4>
                    <p>A Portfolio Demo Project showcases the skills, achievements, and projects of an individual in a professional and
                    visually appealing way. It acts as a digital resume or personal website that highlights expertise and capabilities,
                    often used by freelancers, creatives, and job seekers.</p>
                     
                </div>
                <span class="animate scroll" style="--i:3;"></span>
            </div>
    
            <div class="portfolio-box">
                <img src="images/art.png" alt="">
                <div class="portfolio-layer">
                    <h4>Art Clone Project</h4>
                    <p>An Art Clone Project involves recreating or mimicking existing artwork styles, techniques, or concepts while exploring
                    the technical and creative elements behind them.</p>
                   
                </div>
                <span class="animate scroll" style="--i:4;"></span>
            </div>
    
            <div class="portfolio-box">
                <img src="images/arac2.png" alt="">
                <div class="portfolio-layer">
                    <h4>Rent A Car</h4>
                    <p>A Rent a Car Project is designed to provide customers with a convenient and user-friendly platform for renting vehicles
                    based on their needs. It focuses on streamlining the rental process, ensuring a seamless experience for both customers
                    and service providers.</p>
                    
                </div>
                <span class="animate scroll" style="--i:5;"></span>
            </div>
    
            <div class="portfolio-box">
                <img src="images/springboot.png" alt="">
                <div class="portfolio-layer">
                    <h4>Boot Web Service</h4>
                    <p>A Boot Web Service Project typically focuses on building backend services or APIs using the Spring Boot framework. This
                    project can involve creating RESTful or SOAP web services to enable communication between different applications,
                    ensuring scalability, efficiency, and flexibility.</p>
                   
                </div>
                <span class="animate scroll" style="--i:6;"></span>
            </div>
    
            <div class="portfolio-box">
                <img src="images/crypto.png" alt="">
                <div class="portfolio-layer">
                    <h4>Crypto Ads</h4>
                    <p>A Crypto Ads Project involves creating a platform or system to manage and display advertisements related to
                    cryptocurrency products, services, and education. This project emphasizes targeting audiences interested in blockchain,
                    trading, and digital assets, while ensuring transparency and compliance with advertising guidelines.</p>
                    
                </div>
                <span class="animate scroll" style="--i:6;"></span>
            </div>
        
    </section>